.info_pole{
    background-color: rgb(232, 230, 229);
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 10px solid rgb(255, 255, 255) ;
    border-radius: 0;
    width: auto;
    height: auto;
}
.info_pole a{
    padding: 10px 20px;
}

.text_block{
    margin-top: 100px;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    position: static;
}
div{
    border-radius: 50%;
    background-color: blue;
    width: 30px;
    height: 30px;
    position: fixed;
}
